:root {
  --red-color: #ed563b;
  --btn-hover: #b73018bb;

  --white-color: #fff;

  --over-bg-color: rgba(35, 45, 57, 0.8);

}

.em-color {
  color: var(--red-color);
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: var(--red-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--red-color);
  color: var(--white-color);
}

@media (max-width: 991px) {

  html,
  body {
    overflow-x: hidden;
  }

  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .mobile-bottom-fix {
    margin-bottom: 30px;
  }

  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}